.card {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img {
  height: 250px;
  border-radius: 10px;
  width: 250px;
  object-fit: cover;
}

.info {
  padding-top: 0.5rem;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 0.7rem;
}

.country {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h2 {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  letter-spacing: 0.1rem;
}

.date {
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.description {
  text-align: justify;
  line-height: 1.6;
}

.url {
  color: #59575f;
  cursor: pointer;
}

.url:hover,
.url:focus {
  color: #592ef5;
}

hr {
  border: 1px solid #e5e5e5;
  margin: auto;
  width: 88%;
}

@media screen and (min-width: 600px) {
  .img {
    width: 400px;
  }
  .description {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 601px) {
  .cards {
    width: 601px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex-direction: row;
    padding: 2.5rem 4rem;
  }

  .img {
    width: 200px;
  }

  .info {
    padding-top: 0;
    text-align: left;
    padding-left: 2rem;
  }

  .locations {
    justify-content: left;
  }

  .description {
    padding: 0;
    text-align: left;
    width: 90%;
  }
}

@media screen and (min-width: 901px) {
  .cards {
    width: 901px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    padding: 3rem 10rem;
  }

  .description {
    width: 96%;
  }

  .icon {
    width: 0.5rem;
  }

  hr {
    width: 73%;
  }
}

@media screen and (min-width: 1201px) {
  .cards {
    width: 1201px;
    margin-right: auto;
    margin-left: auto;
  }
}
