.card {
  margin: 2.8125rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img {
  height: 168px;
  border-radius: 10px;
  width: 126px;
}

.info {
  font-size: 0.75em;
}

.locations {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
